* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url('./images/bgpic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 700px 0px 400px -13px rgba(0, 0, 0, 1) inset;
    width: 100%;
    height: 800px;
}

.topText {
    margin: 10px;
}

.circule {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: orange;
    margin-top: 20px;
}

.heading {
    font: normal normal medium 48px/72px Poppins;
    letter-spacing: 0.77px;
    color: #FFFFFF;
    opacity: 1;
}

.text {
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

#text2 {
    font: normal normal 600 36px/55px Poppins;
    letter-spacing: 0px;
    color: #F26522;
    opacity: 1;
}

#line {
    border-left: 1px solid white !important;
    height: 60%;
    margin-top: 10px;
    /* margin-right: 20px; */
}

.btn1 {
    width: 8rem;
    height: 2.5rem;
    border: none;
    margin-top: 20px;
    font: normal normal medium 18px/27px Poppins;
}

.btn1:hover {
    background-color: #F26522;
    color: #F6F7F9;
    position: relative;
    top: -15px;
}

.btn-no {
    width: 13rem;
    height: 2.5rem;
    border: none;
    background-color: black;
    color: #F6F7F9;
    border: solid white 1px;
    margin-left: 20px;
}

.btn-no:hover {
    background-color: #F26522;
    color: #F6F7F9;
    position: relative;
    top: -15px;
    border: none;
    transition: all;
    animation-duration: 0.3s;
}

.logo {
    position: absolute;
    height: 180px;
    width: 240;
    top: -30px;
}

.firtsText ul {
    display: flex;
}

.firtsText ul li {
    margin-left: 30px;
}

.firtsText h2 {
    text-align: center;
}

.start {
    text-align: center;
}

.text {
    border-left: 1px solid gray;
    text-align: center;
}

.bit {
    font: normal normal bold 60px/72px Poppins;
    letter-spacing: 0.96px;
    color: #F26522;
    opacity: 1;
    color: #F26522;
}

.carry {
    font: normal normal bold 60px/72px Poppins;
    letter-spacing: 0.96px;
    color: #1C75BC;
    opacity: 1;
}

.our {
    font: normal normal 300 48px/72px Poppins;
    letter-spacing: 0.77px;
    color: #000000;
    opacity: 1;
}

.service {
    font: normal normal bold 48px/72px Poppins;
    letter-spacing: 0.77px;
    color: #F26522;
    opacity: 1;
}

.p1 {
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.button {
    text-align: center;
}

.btn {
    background: rgb(175, 124, 28);
    background: linear-gradient(90deg, rgba(175, 124, 28, 1) 0%, rgba(205, 130, 23, 0.59156162464986) 89%);
    color: black;
}

.btn:hover {
    position: relative;
    bottom: 10px;
    transform: 3s all;
    transition: 3s all;
    background-color: orangered;
}

.our_service {
    text-align: center;
    background-color: rgb(232, 231, 231);
}

.card1 {
    display: flex;
    background-color: rgb(2, 2, 40);
    color: white;
    justify-content: space-around;
    margin-top: auto;
    padding: 40px;
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.icon {
    font-size: 7rem;
}

.card2 {
    background-color: rgb(175, 137, 42);
    color: aliceblue;
    padding: 10px;
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}



.icon3 {
    font-size: 5.1rem;
}

.card3 {
    background-color: rgb(50, 130, 204);
    color: aliceblue;
    padding: 10px;
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.card4 {
    background-color: rgb(150, 67, 227);
    color: aliceblue;
    padding: 10px;
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.card5 {
    background-color: rgb(130, 128, 128);
    color: aliceblue;
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px;
}

.card6 {
    background-color: rgb(125, 44, 14);
    color: aliceblue;
    padding: 10px;
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.card7 {
    background-color: rgb(73, 72, 71);
    color: aliceblue;
    padding: 10px;
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.card8 {
    background-color: rgb(113, 80, 74);
    color: aliceblue;
    padding: 10px;
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.seo {
    text-align: center;
}

.seoHeading {
    font: normal normal bold 48px/72px Poppins;
    letter-spacing: 0.77px;
    color: #1C75BC;
    opacity: 1;
}

.seoPra {
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.seoH2 {
    font: normal normal 600 24px/35px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.seoPra2 {
    font: normal normal 300 18px/27px Poppins;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.seoCards {
    justify-content: center;
    display: flex;
}

.seoCard {
    text-align: center;
}

.seo-icon {
    font-size: 5rem;
}

#subFooter {
    display: flex;
    justify-content: center;
    display: flex;
    background-color: #1C75BC;
    color: aliceblue;
    padding: 50px;
}

.subFooterH3 {
    font: normal normal bold 60px/72px Poppins;
    letter-spacing: 0.96px;
    color: #FFFFFF;
    opacity: 1;
}

#btn2 {
    background-color: white !important;
    border: none !important;
    width: 18rem !important;
    height: 3rem !important;
    color: #008afb;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#btn2:hover {
    background-color: #F26522 !important;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: relative;
    bottom: 10px;
    transition: 2s ease;
    transform: all 3s;
}

.h12 {
    font: normal normal bold 45px/57px Poppins;
    letter-spacing: 1.02px;
    color: #F26522;
    opacity: 1;
    text-align: center;
}

#wave {
    width: 100% !important;
}

.color {
    color: white;
}

.bannerButton {
    position: relative;
    right: 200px;
}

#box {
    color: white;
    position: relative;
    right: 200px;
    /* width: 450px !important; */
}

#box2 {
    color: white;
    border: 1px white solid;
    margin-top: 50px;
    position: relative;
    right: 200px;
    width: 500px;
}

#icons {
    font-size: 5rem;
    margin-top: 30px;

}

#banner {
    position: relative;
    top: 150px;
}

.topPart {
    position: relative !important;
    right: 100px !important;
}

.btn0 {
    position: absolute;
    top: 21px;
    right: 150px;
    width: 10rem;
    border: none;
    color: white;
    background-color: #008afb;
    height: 2.8rem;
}

.star {
    color: #F26522;
}

.cardFooter {
    background-color: #F6F7F9;
}

#footerCard {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form_child {
    color: white;
}

.card1text {
    text-align: start;
}

.icon3 {
    text-align: end;
}

.card2 {
    height: 280px;
}

.card3 {
    height: 280px;
}

.card4 {
    height: 280px;
}

.card5 {
    height: 280px;
}

.card6 {
    height: 280px;
}

.card7 {
    height: 280px;
}

.card8 {
    height: 280px;
}


.form {
    background: #5194CB;
    width: 100vw;
    height: 100vh;
}

.top {
    justify-content: left;
}

.upper_site {
    background: white;
    width: 100vw;
    height: 5vw;
}

.form_body {
    width: 74vw;
    display: flex;
    height: 85vh;
    background: #1C74BC;
    position: relative;
    top: -4%;
    left: 13%;
    box-shadow: 1px 1px #80808099;
}

.first_form {
    width: 67%;
    height: 100%;
    background: white;
    /* margin-left: 33%; */
}


.body_form {
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form_child {
    padding: 10px 30px;
}
